.MyView-container {
    margin-top: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

.MyView-container-mobile {
    margin-top: 92px;
    margin-left: 15px !important;
    margin-right: 15px !important;

}
.rounded-corners {
    border-radius : calc(.25rem - 1px);

}