.navbar{
    background:#F97300 !important;
    color: white;
}

.menu-button {
    width: 200px;
}

/*.nav-item {*/
    /*text-align: center;*/
    /*height: 100%;*/
/*}*/

.fa-vc{
    vertical-align: middle
}

.navbar-phone-toggle {
    color: white;
    border: none;
}

/*.navbar.toggle-down:after {*/
    /*background-color: pink;*/
/*}*/

/*.button.navbar-phone-toggle.navbar-toggler {*/
    /*background-color: blue;*/
    /*transform: rotate(180deg);*/
/*}*/

.navbar-brand-text {
    color: white !important;
}

#image {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}