.RightFocus{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: calc(.25rem - 1px);
    background-color: white;
}

.RightFocus-content {
    padding: 15px;
}

.rounded-top-corners {
    border-radius : .20rem .20rem 0px 0px;
}

.rounded-bottom-corners {
    border-radius : 0px 0px .25rem .25rem;
}

.rounded-corners {
    border-radius : .25rem;
}


/*.img-fluid {*/
    /*!*max-height: 100px;*!*/
/*}*/

.p {
    white-space:pre-wrap;
}

