.RightFocus{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: calc(.25rem - 1px);
}

.RightFocus-content {
    padding: 15px;
}

.rounded-top-corners {
    border-radius : .20rem .20rem 0px 0px;
}

.rounded-bottom-corners {
    border-radius : 0px 0px .25rem .25rem;
}

.rounded-corners {
    border-radius : .25rem;
}

.SkillName{
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}

