.idea/workspace.xml
.idea/tasks.xml
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries
**/.idea/vcs.xml
**/.idea/jsLibraryMappings.xml
.idea/*
*/.idea/

C:\Users\Pbyrd\Desktop\Github\\MegSite\.idea\workspace.xml