.navbar{
    background:#F97300 !important;
    color: white;
}

.menu-button {
    width: 200px;
}

/*.nav-item {*/
    /*text-align: center;*/
    /*height: 100%;*/
/*}*/

.fa-vc{
    vertical-align: middle
}

.navbar-phone-toggle {
    color: white;
    border-color: #f8f9fa;

}

.navbar-brand-text {
    color: white !important;

}