body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif !important;
}

h1, h2, h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

/*font-family: 'Bungee', cursive;*/
/*font-family: 'M PLUS Rounded 1c', sans-serif;*/
/*font-family: 'Rock Salt', cursive;*/
/*font-family: 'Sedgwick Ave Display', cursive;*/

h5 {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

h6 {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

p {
  font-family: 'Questrial', sans-serif !important;
}

.btn {
  height: 42px;
}

a.navbar-brand-text {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
  font-size: 28px;
}

.tiny-m-top {
  margin-top: 2px;
}

.badge {
  color: white;
}

.rounded-corners {
  border-radius : .25rem;
}